<h1>
<ul id="header">
    <li><a href="/" id="name">Will Long</a></li>
    <li><a href="/Resume.pdf">Resume</a></li>
    <li><a href="https://github.com/wlong123">Github</a></li>
    <li><a href="https://www.linkedin.com/in/william-long-062128150/">Linkedin</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
</h1>
<br>
<h2>
    <p>Send me a message.</p>

    <form action="/contact/submit" method="POST">
    Name<br><textarea name="name" rows="1" cols="180"></textarea> <br>
    email<br><textarea name="email" rows="1" cols="180"></textarea> <br>
    Message<br><textarea name="message" rows="15" cols="180"></textarea> <br>
    <input type="submit" value="Submit">
    </form>

</h2>