<h1>
<ul id="header">
    <li><a href="/" id="name">Will Long</a></li>
    <li><a href="/Resume.pdf">Resume</a></li>
    <li><a href="https://github.com/wlong123">Github</a></li>
    <li><a href="https://www.linkedin.com/in/william-long-062128150/">Linkedin</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><img src="headshot.jpg" id="headshot" style="width:200px;height:200px;"></li>
</ul>
</h1>
<br>
<h2>
    <p>Shoot me an email bro</p>

    <form action="/action_page.php">
    Name <input type="text" name="fname"><br>
    Email <input type="text" name="lname"><br>
    <input type="submit" value="Submit">
    </form>

</h2>