<h1>
<ul id="header">
    <li><a href="/" id="name">Will Long</a></li>
    <li><a href="/Resume.pdf">Resume</a></li>
    <li><a href="https://github.com/wlong123">Github</a></li>
    <li><a href="https://www.linkedin.com/in/william-long-062128150/">Linkedin</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><img src="headshot.jpg" id="headshot" style="width:200px;height:200px;"></li>
</ul>
</h1>
<br>
<h2>
    <p>Hello, my name is Will Long. I am a sophomore at Cornell</p>

</h2>


